.card__container {
  background-color: #344c64;
  color: white;
  padding: 0.75rem;
  border-radius: 0.5rem;
  width: 230px;
  min-height: 150px;
  transition: all 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card__container:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  scale: 1.02;
}

.card__number {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 50%;
}
